@model Events.Models.Shindig

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.ShindigName)</h1>

<div>
    <h4>@Html.DisplayFor(model => model.DateOfEvent)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Openings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Openings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableSpots)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableSpots)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShindigType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShindigType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShindigDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShindigDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interest.InterestName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.host.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.host.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
</div>
<!--Buttons will need to be edit for owner then a join button for everyone else-->
<div>
    <a asp-action="Edit" asp-route-id="@Model.ShindigID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
